/*
	Bsoft style sheet
	Created: 20100925 (Bernard Heymann)
	Modified: 20180108 (Bernard Heymann)
*/

html {
/*	background-color:#ffffff;*/
/*	background-color:#dddddd;*/
	background:url("front/hsv5404_bc1.jpg") top left;
/*	text-shadow: 0.05em 0.05em 0.1em gray;*/
}

body {
/*	background-color:#fff5b4;*/
/*	font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 1.0em;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%; 
	max-height: 100%;
	width: 100%; 
}

#banner {
	margin: 0;
	padding: 0;
	height: 100px;
	background:url("images/bsoft_logo_2010_3.png") top left;
}

#menu {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 1.1em;
	text-align: center;
	height: 40px;
/*	border: 1px solid #555;*/
	background:url("images/button_lgt.png") top left;
}

#menu ul {
	margin: 0;
	padding: 0;
	height: 40px;
	z-index: 499;
}

#menu li {
	position: relative;	/* Drop-down elements underneath each other */
	list-style: none;
	float: left;
	width: 128px;
	height: 24px;
/*	border: 1px solid #555;*/
	padding-left: 10px;
	text-align: center;
	line-height: 24px;
	z-index: 500;
	font-weight: bold;
}

#menu li li {
	width: 100%;
	padding: 0;
	font-size: 0.8em;
	font-weight: normal;
}

#menu ul ul {
	display: none;
}

/* This presents a submenu on hovering */
#menu li:hover > ul {
	display: block;
}

#menu a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
/*	color: white;*/
	color: black;
/*	text-shadow: 0.1em 0.1em 0.2em black;*/
	text-shadow: 0.1em 0.1em 0.2em white;
	text-decoration: none;
/*	text-shadow: 0.1em 0.2em 0.2em gray;*/
	box-shadow: 5px 5px 5px black;
}

#menu a:link, #menu a:visited, #menu a:active {	/* menu at rest */
	background:url("images/button_lgt.png") top left no-repeat;
}

#menu a:hover {						/* menu on mouse-over  */
	background:url("images/button_lgt_hover.png") top left no-repeat;
}

#menu a:visited + ul {
	background:url("images/button_lgt.png") top left no-repeat;
	display: none;
}

#menu a:active + ul {
	color: blue;
	background:url("images/button_lgt_hover.png") top left no-repeat;
	display: block;
}

.topics {
	text-align: center;
	background: url("front/hsv5404.jpg");
}

.topics h1 {
	color: white;
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size: 2.0em;
	text-align: center;
}

.topics .container {
	width: 200px;
	height: 220px;
	text-align: center;
	vertical-align: middle;
/*	border: 1px solid #555;*/
	display: inline-block;
}

.topics .container img {
	position: relative;
	height: 130px;
	top: -150px;
	z-index: 1;
	display: inline-block;
	box-shadow: 10px 10px 10px black;
}

.topics .container a {
	position: relative;
	left: 20px;
	width: 160px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.2em black;
	z-index: 2;
	display: block;
}

#leftcolumn {
/*	position: fixed;*/
	position: absolute;
	width: 148px; /*Width of frame div*/
	height: 100%;
	border-width: 1px;
	border-style: solid;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
/*	background: #aaccff;*/
}

#leftcolumn ul {
	width: 100%;
	left: 0;
	float:left;
	margin: 0;
	padding: 0;
	color:#ff0000;
/*	background:#ddddff;*/
	vertical-align: middle;
	list-style:none;
	text-decoration:none;
}

#leftcolumn ul:hover a:hover{
	color:#000044;
	background-image: url(images/button_blue.png);
}

#leftcolumn ul li {
	list-style: none;
	text-align: center;
	height: 30px;
	background-image: url(images/button_lightblue.png);
}

#sidemenu a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}
	

#iframe_content {
	position: absolute;
	top: 128px;
}

#ifrm {
	position: relative;
	border-style: none;
}

#iframe_content2 {
	position: absolute;
	left: 150px;
}

.container2 {
	position: absolute;
	left: 200;
	width: 100%;
}

.container2 iframe {
	position: relative;
	top: 200;
	left: 200;
}

#ifrm2 {
	position: relative;
	border-style: none;
}

#content {
	margin: 10px;
/*	display: block; */
/*	display: table-row;*/
}

#footer {
/*	background: #eeeeff;*/
	background:url("images/button.png") top left;
	font-size: 1.0em;
	color: white;
	text-shadow: 0.1em 0.1em 0.2em black;
/*	text-indent: 20px;*/
	text-align: center;
	border-style: double none double;
	border-color: #8888ff;
	float: bottom;
    display: block;
}

#command {
	color: #0088dd;
	text-indent: 10px;
	font-weight: bold;
}

#note {
/*	background: #eeeeff;*/
	border-style: double;
	border-color: #8888ff;
}

h1 {
	text-align:left;
	font-size:1.5em;
	font-weight:bold;
}

h2 {
	text-align:left;
	font-size:1.2em;
	font-weight:bold;
}

h3 {
	text-align:left;
	font-size:1.0em;
	font-weight:bold;
}

h4 {
	text-align:left;
	font-size:1.0em;
	font-weight:bold;
	font-style: oblique;
}

label {
    display: block;
    width: 60px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: left;
}

form.form1 { 
	border: 1px solid #666699;
	padding: 10px; 
	margin: 10px;
	width: 560px;
/*	background: #dfefef;*/
}

form.form2 {
	float: left;
}

input {
	max-width: 540px;
}

input.button1 {
	background:url("images/button_lgt.png") top left no-repeat;
}

input.button1:hover {
	color: white;
	background:url("images/button_lgt_hover.png") top left no-repeat;
}

textarea {
	display: block;
	max-width: 560px;
	border-width: 1px;
/*	background:#ffffee;*/
}

br { clear: left; }

table {
	width: 600px;
	padding: 0;
	margin: 0;
}

caption {
	text-align: left;
	font-weight: bold;
}

th {
	color: #4f6b72;
	text-align: left;
	padding: 5px;
/*	background: #CAE8EA;*/
}

td {
/*	background: #fff;*/
	text-align: left;
	padding: 5px;
	color: #4f6b72;
}

tr:hover td { background: #CAEFFD; color: #0768B3; cursor: pointer; }
tr:active td { background: #CAEFFD; color: #B72222; cursor: pointer; }

td#lft {
	text-align: left;
	text-align: top;
	padding: 10px;
}

span.alert {
	color: red;
}

img {
	box-shadow: 10px 10px 10px black;
}

img#inline {
	display: inline;
	margin: 0 5px;
}

.contact {
	border-width: 2px;
	border-style: solid;
	margin: 10px;
	padding-left: 10px;
	background: white;
}

.contact p.title {
	font-size: 1.5em;
	font-weight: bold;
}
.contact p.name {
	font-weight: bold;
}

.contact .detail {
	color: red;
	margin-left: 200px;
	line-height: 10px;
}


