<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <pkg-ref id="ws.bsoft.bsoft"/>
    <pkg-ref id="ws.bsoft.bshow"/>
    <pkg-ref id="ws.bsoft.brun"/>
    <options customize="never" require-scripts="false"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.10"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="ws.bsoft.bsoft"/>
            <line choice="ws.bsoft.bshow"/>
            <line choice="ws.bsoft.brun"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="ws.bsoft.bsoft" visible="false">
        <pkg-ref id="ws.bsoft.bsoft"/>
    </choice>
    <pkg-ref id="ws.bsoft.bsoft" version="2.1.3" onConclusion="none">bsoft.pkg</pkg-ref>
    <choice id="ws.bsoft.bshow" visible="false">
        <pkg-ref id="ws.bsoft.bshow"/>
    </choice>
    <pkg-ref id="ws.bsoft.bshow" version="8.5.9" onConclusion="none">bshow.pkg</pkg-ref>
    <choice id="ws.bsoft.brun" visible="false">
        <pkg-ref id="ws.bsoft.brun"/>
    </choice>
    <pkg-ref id="ws.bsoft.brun" version="8.5.9" onConclusion="none">brun.pkg</pkg-ref>
</installer-gui-script>