<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>BSOFT</key>
		<string>/usr/local/bsoft</string>
		<key>BPARAM</key>
		<string>/usr/local/bsoft/parameters</string>
		<key>DYLD_LIBRARY_PATH</key>
		<string>/usr/local/bsoft/lib</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
				<string>TCL</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tcl</string>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>foo</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Get Foo</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Wish</string>
	<key>CFBundleGetInfoString</key>
	<string>Wish Shell 8.6.12,
    Copyright © 1989-2022 Tcl Core Team,
    Copyright © 1989-2022 Contributors,
    Copyright © 2011-2022 Kevin Walzer/WordTech Communications LLC,
    Copyright © 2014-2022 Marc Culler,
    Copyright © 2002-2022 Daniel A. Steffen,
    Copyright © 2001-2009 Apple Inc.,
    Copyright © 2001-2002 Jim Ingham &amp; Ian Reid</string>
	<key>CFBundleIconFile</key>
	<string>Bshow.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ws.bsoft.bshow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>el</string>
		<string>en</string>
		<string>en_gb</string>
		<string>eo</string>
		<string>es</string>
		<string>fr</string>
		<string>hu</string>
		<string>it</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>ru</string>
		<string>sv</string>
	</array>
	<key>CFBundleName</key>
	<string>Bshow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.6.12</string>
	<key>CFBundleSignature</key>
	<string>WiSH</string>
	<key>CFBundleVersion</key>
	<string>8.6.12</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>Wish.sdef</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>provideService</string>
			<key>NSPortName</key>
			<string>Wish</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSPasteboardTypeString</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
